<!DOCTYPE html>
<html>
<head>
    <title>,艺考生高考成绩展示</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:ykstudentreport:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:ykstudentreport:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:ykstudentreport:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">图片地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ykstudentreport.imgaddress" placeholder="图片地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">分数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ykstudentreport.score" placeholder="分数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">学生名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ykstudentreport.studentname" placeholder="学生名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">学生简介</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ykstudentreport.studentintro" placeholder="学生简介"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">添加时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ykstudentreport.addtime" placeholder="添加时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="ykstudentreport.updatetime" placeholder="修改时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/ykstudentreport.js?_${.now?long}"></script>
</body>
</html>